<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<html>
    <head>
        <h1 id="h1">Your notes</h1>
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-item">
                {% if latest_notes %}
                <ul>
                    {% for note in latest_notes %}
                    <li><a href="/notebook/{{ note.id }}/">{{ note.note_label }}</a></li>
                    <p>{{ note.note_text }}</p>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No saved notes.</p>
                {% endif %}
            </div>
            <div class="grid-item">
                <h2>Add new note (not working yet)</h2>
                <form>
                    <label for="label">Label:</label><br><br>
                    <input type="text" id="label" name="label"><br><br>
                    <label for="text">Text:</label><br><br>
                    <input type="text" id="text" name="text"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>